<!DOCTYPE html>
<html>
	<head>
		<title>Title TK</title>
	</head>
	<body>
		<h1>Bloggity.<h1>
		<div class = "blogPosts">
			<% for (var i in blogPosts) { %>
				<h2><%= blogPosts[i].title %></h2>
				<h3><%= blogPosts[i].author %></h3>
				<p><%= blogPosts[i].body %></p>
			<% } %>
		</div>
	</body>
</html>