<!DOCTYPE html>
<html>
	<head>
		<title>Title TK</title>
	</head>
	<body>
		<h1>Bloggity.<h1>
			<div class = "blog-posts">
				<% for (var i in blogPosts) { %>
					<h2></h2>
				<% } %>
	</body>
</html>